#side-menu .panel {
	webkit-border-radius:0;
	moz-border-radius:0;
	border-radius:0;
	box-shadow:0;
	border-right:0;
	border-left:0;
}

#page-wrapper {
	padding-top:50px;
}

#side-menu a {
	text-decoration:none;
}

.fixed {
	position: fixed;
}
.slide-left {
	-webkit-transform: translateZ(0) translateX(250px);
	transform: translateZ(0) translateX(250px);
	transition: .3s ease all;
}
.slide-back {
	-webkit-transform: translateZ(0) translateX(0);
	transform: translateZ(0) translateX(0);
	transition: .3s ease all;
}
.slide-right {
	-webkit-transform: translateZ(0) translateX(-250px);
	transform: translateZ(0) translateX(-250px);
	transition: .3s ease all;
}

